

.nav-link
{
  cursor: pointer;
}

.logo{
  position: relative;
}

.logo-img {
  width: 40px;
  position: absolute;
  left:-25px;
  top: -10px;
  rotate: -10deg;
}

.logo-text {
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  padding: 0;
}
