
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">About Us</h1>
      <p class="lead">Welcome to Quiz Application, the ultimate platform for testing your knowledge!</p>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h3>Our Mission</h3>
        <p>At Quiz Application, we aim to provide a fun and educational experience for users of all ages. Our mission is to enable users to learn and challenge themselves with a wide range of quizzes on various topics.</p>
        <p>Whether you're a student, professional, or simply someone who loves trivia, our quiz application has something for everyone. We offer a diverse collection of quizzes in categories such as science, history, sports, entertainment, and more.</p>
        <p>Embark on an exciting journey of knowledge discovery and start exploring our quizzes today!</p>
      </div>
      
      <div class="col-md-6">
        <h3>Features</h3>
        <ul class="list-group">
          <li class="list-group-item">Wide variety of quiz topics to choose from</li>
          <li class="list-group-item">Multiple-choice questions to test your knowledge</li>
          <li class="list-group-item">Leaderboards to compare your scores with others</li>
          <li class="list-group-item">Challenge friends and compete in multiplayer mode</li>
          <li class="list-group-item">Track your progress and see your improvement over time</li>
        </ul>
      </div>
    </div>
    
    <div class="jumbotron">
      <h3>Contact Information</h3>
      <p>Email: info@quizapp.com</p>
      <p>Phone: +1-123-456-7890</p>
      <p>Address: 123 Main Street, City, Country</p>
    </div>
  </div>
  