<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Examy  <i class="fas fa-graduation-cap "></i></h1>
        <p class="lead">Welcome to Examy Quiz Application, the ultimate platform for testing your knowledge! 
         </p>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3>Features</h3>
              <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-th-list"></i> Wide variety of quiz topics to choose from</li>
                <li class="list-group-item"><i class="fas fa-question"></i> Multiple-choice questions to test your knowledge</li>
                <li class="list-group-item"><i class="fas fa-trophy"></i> Leaderboards to compare your scores with others</li>
                <li class="list-group-item"><i class="fas fa-users"></i> Challenge friends and compete in multiplayer mode</li>
                <li class="list-group-item"><i class="fas fa-chart-line"></i> Track your progress and see your improvement over time</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h3>Contact Information</h3>
            <p><i class="fas fa-envelope"></i> Email: info@Examy.com</p>
            <p><i class="fas fa-phone"></i> Phone: +1-123-456-7890</p>
            <p><i class="fas fa-map-marker-alt"></i> Address: ITI Menoufia</p>
          </div>
        </div>
      </div>
    </div>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>