.jumbotron {
    background-color: #AFD3E2;
    color: #146C94;
    padding: 2rem;
    margin-bottom: 2rem;
}

h1.display-4 {
    color: #146C94;
}

.list-group-item {
    background-color: #F6F1F1;
    color: #146C94;
    border-color: #AFD3E2;
}

.jumbotron h3 {
    color: #146C94;
    margin-top: 1rem;
}

.jumbotron p {
    color: #146C94;
    margin-bottom: 0.5rem;

}