<div class="text-center m-5 txt">
  <h4>
    <i class="bi bi-quote" style="text-transform: uppercase;"></i>With patience and perseverance, you can conquer
    any challenge and achieve your dreams.<i class="bi bi-quote rotate-90"></i>
  </h4>
</div>

<div class="container ">
  <div class="row">
    <div *ngFor="let subject of subjects" class="card col-lg-4 col-md-6 ">
      <div class="face front">
        <div class="content text-center row align-items-center">
          <h1>{{ subject.name }}</h1>
        </div>
      </div>
      <div class="face back">
        <div class="content text-center">
          <h4>Duration: 40 min</h4>
          <h6>Full Grade: 100 <br />MinGrade: 50</h6>
          <p>
            Take Exam To Test Your Knowledge
          </p>
          <button [routerLink]="['/subjects',subject.id]">Go to the Test</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container instruction my-1 p-3">
  <h3>Instructions:</h3>
  <ul>
    <li>Number of questions: <b>50</b></li>
    <li>Has a time limit of <b>40 min</b></li>
    <li>Must be finished in one sitting. You can not save and finish later</li>
    <li>
      Not allowed to use any external resources <b>Only a pen and a paper</b>
    </li>
    <li>Questions displayed per page: <b>1</b></li>
  </ul>
</div>
