<div class="container p-4 w-50 mt-5">
    <h1 class="text-light mb-3">Contact Us</h1>
    <form [formGroup]="contactForm">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-light">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your Name" formControlName="name">
            <ng-container *ngIf="getName.touched">
                <div *ngIf="getName.hasError('required')" id="nameHelp" class="form-text text-danger">Name Is required
                </div>
                <div *ngIf="getName.hasError('minlength')" id="nameHelp" class="form-text text-danger">Name must be more than
                    5 characters</div>
            </ng-container>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-light">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
            <ng-container *ngIf="getEmail.touched">
                <div *ngIf="getEmail.hasError('required')" id="nameHelp" class="form-text text-danger">Email Is required
                </div>
                <div *ngIf="getEmail.hasError('pattern')" id="nameHelp" class="form-text text-danger">Enter Email in
                    good Format</div>
            </ng-container>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label text-light">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="message"></textarea>
            <ng-container *ngIf="getMessage.touched">
                <div *ngIf="getMessage.hasError('required')" id="nameHelp" class="form-text text-danger">Message Is
                    required
                </div>

            </ng-container>
        </div>
        
    </form>

</div>